{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <div class="text-center mb-4">
        <h1 class="font-weight-bold">{{ category_name }} {{product_type}}</h1>
    </div>
    <div class="row">
        {% for saree in sarees %}
        
        <div class="col-md-4 mb-4">
            <div class="card">
                <!-- Image with link to details -->
                <a href="{{ url_for('saree_detail', saree_id=saree.id) }}">
                    <img src="{{ saree.image_url }}" class="card-img-top" alt="{{ saree.name }}">
                </a>
                <div class="card-body text-center">
                    <!-- Saree Name -->
                    <h5 class="card-title">{{ saree.name }}</h5>
                    <!-- Price Section -->
                    <p class="card-text">£{{ saree.price }}</p>
                    <!-- Buttons for Add to Cart, Wishlist, and View -->
                    <div class="d-flex justify-content-around">
                        <!-- Add to Cart -->
                        <form data-toggle="tooltip" title = "Add to cart" action="{{ url_for('add_to_cart', saree_id=saree.id) }}" method="POST">
                            <button type="submit" class="btn btn-outline-primary">
                                <i class="fas fa-shopping-bag"></i>
                            </button>
                        </form>
                        <!-- Add to Wishlist -->
                        <form data-toggle="tooltip" title = "Add to wishlist" action="{{ url_for('add_to_wishlist', saree_id=saree.id) }}" method="POST">
                            <button type="submit" class="btn btn-outline-danger">
                                <i class="fas fa-heart"></i>
                            </button>
                        </form>
                        <!-- View Details -->
                        <a href="{{ url_for('saree_detail', saree_id=saree.id) }}" data-toggle="tooltip" title = "View details" class="btn btn-outline-secondary">
                            <i class="fas fa-eye"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}