{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow border-0">
                <div class="text-center mb-4">
                    <h2 class="font-weight-bold">Forgot Password</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="/forgot-password">
                        <!-- Email Input -->
                        <div class="form-group">
                            <label for="email" class="font-weight-bold">Enter Your Email Address:</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email address" required>
                        </div>

                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-danger">Send Reset Link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
